<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

  <bean id="crawlerSK" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="crawlerSK" />
    <property name="targetMethod" value="retrieveItems" />
    <property name="concurrent" value="true" />
  </bean>
  <bean id="crawlerSK_trigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
    <property name="jobDetail" ref="crawlerSK" />
    <property name="startDelay" value="60000" />
    <property name="repeatInterval" value="60000" />
  </bean>

  <bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="triggers">
      <list>
        <ref bean="crawlerSK_trigger" />
      </list>
    </property>
  </bean>
</beans>